Repository SymbaX/symbax, pull requests merged in 2023-06, with the labels that each got.

#2 add github-actions
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/add_review_label.yml
  .github/workflows/add_wip_label.yml
  .github/workflows/auth_labeling_pull_request.yml
  .github/workflows/create_release_tag_and_release_note.yml
  .github/workflows/inactive_issue.yml
  .github/workflows/issue_close_when_label_deletion.yml
  .github/workflows/remove_close_label.yml
Labels: 🌟feature, 👀needs_review

#3 Develop
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  .github/release.yml
  .github/workflows/add_review_label.yml
  .github/workflows/add_wip_label.yml
  .github/workflows/auth_labeling_pull_request.yml
  .github/workflows/create_release_tag_and_release_note.yml
  .github/workflows/inactive_issue.yml
  .github/workflows/issue_close_when_label_deletion.yml
  .github/workflows/remove_close_label.yml
Labels: 👀needs_review

#9 Develop
  .env.example
  README.md
  docker-compose.yml
Labels: 👀needs_review

#11 Rename bug_report.md to bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: 👀needs_review, 🕷️bug

#12 Rename feature_request.md to feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: 👀needs_review, 🕷️bug

#18 更新
  package-lock.json
  package.json
Labels: 👀needs_review

#20 Update bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: 🕷️bug

#21 ログイン情報を追記
  docker-compose.yml
Labels: 👀needs_review, 🕷️bug

#27 README.mdを修正
  README.md
Labels: 🕷️bug

#29 Develop
  resources/views/welcome.blade.php
Labels: 👀needs_review

#30 メールアドレスの認証機能を作成
  app/Models/User.php
  routes/web.php
Labels: 👀needs_review

#33 エラーページを作成
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/layouts/base.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review, 🚧wip

#39 departmentsテーブルを作成
  database/migrations/2023_06_14_142057_create_colleges_table.php
  database/migrations/2023_06_14_150249_create_departments_table.php
  database/seeders/CollegesTableSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/DepartmentsTableSeeder.php
Labels: 🌟feature, 👀needs_review

#42 Develop
  database/migrations/2023_06_14_142057_create_colleges_table.php
  database/migrations/2023_06_14_150249_create_departments_table.php
  database/seeders/CollegesTableSeeder.php
  database/seeders/DatabaseSeeder.php
  database/seeders/DepartmentsTableSeeder.php
  public/img/06.png
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/layouts/base.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: 👀needs_review

#47 GitHubActionsを変更
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/release.yml
  .github/workflows/add_review_label.yml
  .github/workflows/add_wip_label.yml
  .github/workflows/auto_labeling_pull_request.yml
  .github/workflows/create_release_tag_and_release_note.yml
  .github/workflows/inactive_issue.yml
  .github/workflows/issue_close_when_label_deletion.yml
  .github/workflows/remove_close_label.yml
Labels: 👀needs_review, 🕷️bug

#48 mainブランチにマージ
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/release.yml
  .github/workflows/add_review_label.yml
  .github/workflows/add_wip_label.yml
  .github/workflows/auto_labeling_pull_request.yml
  .github/workflows/create_release_tag_and_release_note.yml
  .github/workflows/inactive_issue.yml
  .github/workflows/issue_close_when_label_deletion.yml
  .github/workflows/remove_close_label.yml
Labels: 👀needs_review, 💎release

#49 Registerページの修正
  database/seeders/DepartmentsTableSeeder.php
  resources/views/auth/register.blade.php
Labels: 👀needs_review, 🕷️bug

#50 イベントテーブルを作成
  database/migrations/2023_06_20_132847_create_event_table.php
Labels: 🌟feature, 👀needs_review

#51 eventテーブルを複数形に変更
  database/migrations/2023_06_20_132847_create_events_table.php
Labels: 👀needs_review, 🕷️bug

#53 学校のメールアドレスでバリデーション
  app/Http/Controllers/Auth/RegisteredUserController.php
Labels: 👀needs_review, 🕷️bug

#54 mainブランチにマージ
  app/Http/Controllers/Auth/RegisteredUserController.php
  database/migrations/2023_06_20_132847_create_events_table.php
  database/seeders/DepartmentsTableSeeder.php
  lang/ja.json
  resources/views/auth/register.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/new.blade.php
  routes/web.php
Labels: 👀needs_review, 💎release

#55 イベント作成機能を仮実装
  app/Http/Controllers/EventController.php
  app/Models/Event.php
  database/migrations/2023_06_20_132847_create_events_table.php
  lang/ja.json
  resources/views/event/new.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/new.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#63 イベント一覧ページと詳細ページを仮で作成
  lang/ja.json
  resources/views/event/details.blade.php
  resources/views/event/list.blade.php
  resources/views/layouts/navigation.blade.php
  routes/web.php
Labels: 👀needs_review, 🕷️bug

#64 Fix/paging
  app/Http/Controllers/EventController.php
  resources/views/event/list.blade.php
  routes/web.php
Labels: 👀needs_review, 🕷️bug

#65 イベントサンプルを追加
  app/Http/Controllers/EventController.php
  database/seeders/SampleEventsTableSeeder.php
  resources/views/event/list.blade.php
Labels: ✅test, 👀needs_review, 🛠️fix

#66 fixブランチををbugから外した
  .github/workflows/auto_labeling_pull_request.yml
Labels: 👀needs_review, 🛠️fix

#67 Create git-pr-release.yaml
  .github/workflows/.github/workflows/git-pr-release.yaml
Labels: 🌟feature, 👀needs_review

#68 mainブランチにマージ
  app/Http/Controllers/EventController.php
  app/Models/Event.php
  database/migrations/2023_06_20_132847_create_events_table.php
  database/seeders/SampleEventsTableSeeder.php
  lang/ja.json
  resources/views/event/details.blade.php
  resources/views/event/list.blade.php
  resources/views/event/new.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/new.blade.php
  routes/web.php
Labels: 👀needs_review, 💎release

#69 配置場所を間違えていたため修正
  .github/workflows/git-pr-release.yaml
Labels: 👀needs_review, 🛠️fix

#71 bugfixにbugラベルを付与
  .github/workflows/auto_labeling_pull_request.yml
Labels: 👀needs_review, 🛠️fix

#74 プロフィールページにカレッジ・学科を表示
  app/Http/Controllers/ProfileController.php
  app/Models/User.php
  resources/views/profile/partials/update-profile-information-form.blade.php
Labels: 🌟feature, 👀needs_review

#80 イベント詳細でマークダウン記法を使えるようにする
  app/Http/Controllers/EventController.php
  resources/views/components/textarea.blade.php
  resources/views/event/details.blade.php
  resources/views/event/partials/create-event-form.blade.php
Labels: 🌟feature, 👀needs_review

#82 マークダウン記法のcssを作成
  public/css/event-details.css
  resources/views/event/details.blade.php
Labels: 🌟feature, 👀needs_review

#85 マークダウン記法のCSSが読み込まれなくなってしまったのを修正
  resources/views/event/details.blade.php
Labels: 👀needs_review, 🕷️bug

#89 eventsテーブルに作成者を保持するカラムを追加
  app/Http/Controllers/EventController.php
  app/Models/Event.php
  database/migrations/2023_06_20_132847_create_events_table.php
Labels: 👀needs_review, 🛠️fix

#77 バリデーションいろいろ追加
  app/Http/Controllers/EventController.php
  lang/ja/validation.php
Labels: 👀needs_review, 🛠️fix

#93 URLの最大文字255へ
  app/Http/Controllers/EventController.php
Labels: 👀needs_review, 🛠️fix

#96 入力欄の修正
  resources/views/event/partials/create-event-form.blade.php
Labels: 👀needs_review, 🕷️bug

#98 リンクが表示されないバグを修正
  resources/views/event/details.blade.php
Labels: 👀needs_review, 🕷️bug

#99 画像を表示する
  resources/views/event/details.blade.php
  resources/views/event/list.blade.php
Labels: 🌟feature, 👀needs_review

#100 リファクタリング
  app/Http/Controllers/EventController.php
  app/Http/Requests/Auth/LoginRequest.php
  app/Providers/EventServiceProvider.php
  config/database.php
  config/filesystems.php
  config/logging.php
  config/session.php
  lang/ja.json
  lang/ja/validation.php
  public/css/event-details.css
  public/index.php
  resources/js/app.js
  resources/js/bootstrap.js
  resources/views/event/details.blade.php
  resources/views/event/list.blade.php
  resources/views/event/partials/create-event-form.blade.php
Labels: 👀needs_review, ♻refactor, 🛠️fix

#106 Create fix_request.yml
  .github/ISSUE_TEMPLATE/fix_request.yml
Labels: 👀needs_review, 🛠️fix

#107 名前を編集
  .github/ISSUE_TEMPLATE/fix_request.yml
Labels: 👀needs_review, 🛠️fix

#104 カレッジ、学科、メールアドレス編集機能を廃止
  lang/ja.json
  resources/views/profile/partials/update-profile-information-form.blade.php
Labels: 👀needs_review, 🛠️fix

#108 スクロールバーを常に表示する
  public/css/main.css
  resources/views/layouts/app.blade.php
Labels: 👀needs_review, 🕷️bug

#110 プルリクエストのベースをチェック
  .github/workflows/pull_request_check.yml
Labels: 🌟feature, 👀needs_review

#111 イベント参加機能を作成
  .github/workflows/pull_request_check.yml
  app/Http/Controllers/EventController.php
  app/Models/EventParticipant.php
  database/migrations/2023_06_28_144920_create_event_participants_table.php
  lang/ja.json
  resources/views/event/details.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#117 メッセージが表示されなくなった問題を修正
  app/Http/Controllers/EventController.php
  resources/views/event/details.blade.php
Labels: 👀needs_review, 🕷️bug

#118 サンプルデータを編集
  database/seeders/SampleEventsTableSeeder.php
  database/seeders/UsersTableSeeder.php
Labels: 👀needs_review, 🛠️fix

#128 cssの読み込み方法を修正
  resources/views/event/details.blade.php
  resources/views/layouts/app.blade.php
Labels: 👀needs_review, 🛠️fix

#130 Update README.md
  README.md
Labels: 👀needs_review, 🛠️fix

#113 中央ぞろえかつちょっと大きく
  public/css/list.css
  resources/views/event/list.blade.php
Labels: 👀needs_review, 🛠️fix
