Repository SymbaX/symbax, pull requests merged in 2023-10, with the labels that each got.

#342 共有専用ページを作成
  app/Http/Controllers/Event/EventDetailController.php
  app/UseCases/Event/EventDetailUseCase.php
  lang/ja.json
  resources/views/event/detail.blade.php
  resources/views/event/share.blade.php
  routes/event.php
Labels: 👀needs_review, 🛠️fix

#345 OGP一括生成処理
  app/Http/Controllers/Admin/TitleImageCreateController.php
  app/UseCases/Admin/TitleImageCreateUseCase.php
  lang/ja.json
  resources/views/admin/dashboard.blade.php
  routes/admin.php
Labels: 🌟feature, 👀needs_review

#347 操作ログページを修正
  lang/ja/log.php
  public/css/admin-table-log.css
  resources/views/admin/operation-logs.blade.php
Labels: 🌟feature, 👀needs_review

#327 イベント詳細を編集
  app/Http/Controllers/Event/EventSearchController.php
  app/Http/Requests/Event/CreateRequest.php
  app/Http/Requests/Event/UpdateRequest.php
  app/UseCases/Event/EventCreateUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  database/migrations/2023_09_07_143811_drop_column_events_column.php
  lang/ja.json
  public/script/event-create-validation.js
  public/script/event-edit-validation.js
  resources/views/event/detail.blade.php
  resources/views/event/list-search.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/event/partials/edit-event-form.blade.php
  resources/views/layouts/navigation.blade.php
  routes/event.php
Labels: 👀needs_review, 🛠️fix

#350 ユーザーの退会処理を論理削除にする
  app/Http/Controllers/Event/EventSearchController.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/Models/User.php
  app/UseCases/Admin/ListUsersUseCase.php
  app/UseCases/Event/EventCommunityUseCase.php
  app/UseCases/Event/EventDetailUseCase.php
  app/UseCases/Event/EventListUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
  database/migrations/2023_10_11_211536_add_column_soft_deletes_users_table.php
  lang/ja.json
  resources/views/admin/users-list.blade.php
  resources/views/components/primary-button.blade.php
  resources/views/event/community.blade.php
Labels: 🌟feature, 👀needs_review

#349 コードのリファクタリングを行いました
  app/Http/Controllers/Event/EventSearchController.php
  app/UseCases/Event/EventSearchUseCase.php
  database/migrations/2023_09_07_143811_drop_column_events_column.php
  database/seeders/SampleEventsTableSeeder.php
Labels: 👀needs_review, ♻refactor

#356 Feature/#329 profile design
  app/Http/Requests/Profile/ProfileUpdateRequest.php
  public/css/profile_page.blade.css
  resources/views/profile/partials/update-profile-information-form.blade.php
  resources/views/profile/profile_page.blade.php
Labels: 🌟feature, 👀needs_review

#355 イベント削除機能を作成
  app/Http/Controllers/Admin/EventDeleteController.php
  app/Http/Controllers/Admin/ListEventsController.php
  app/Models/Event.php
  app/UseCases/Admin/EventDeleteUseCase.php
  app/UseCases/Admin/ListEventsUseCase.php
  lang/ja.json
  lang/ja/log.php
  lang/ja/status.php
  resources/views/admin/dashboard.blade.php
  resources/views/admin/events-list.blade.php
  routes/admin.php
Labels: 🌟feature, 👀needs_review
