Repository SymbaX/symbax, pull requests merged in 2023-07, with the labels that each got.

#132 イベント削除機能を作成
  app/Http/Controllers/EventController.php
  lang/ja.json
  resources/views/event/details.blade.php
  resources/views/event/list.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#134 参加人数の最小値設定
  app/Http/Controllers/EventController.php
Labels: 👀needs_review, 🛠️fix

#139 ダッシュボードを削除
  app/Providers/RouteServiceProvider.php
  resources/views/dashboard.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: 👀needs_review, 🛠️fix

#141 作業内容を復元
  app/Providers/RouteServiceProvider.php
  lang/ja.json
  resources/views/event/details.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: 👀needs_review, 🕷️bug

#142 イベント詳細ページをデザイン
  public/css/event-details.css
  resources/views/event/details.blade.php
Labels: 👀needs_review, 🛠️fix

#145 イベントが存在しないときの文章を日本語化
  lang/ja.json
  resources/views/event/all.blade.php
  resources/views/event/list.blade.php
Labels: 👀needs_review, 🛠️fix

#147 cssコードを分割
  public/css/error.css
  resources/views/errors/layouts/base.blade.php
  resources/views/event/all.blade.php
  resources/views/event/list.blade.php
Labels: 👀needs_review, 🛠️fix

#152 リストの並び順を指定した
  app/Http/Controllers/EventController.php
Labels: 👀needs_review, 🛠️fix

#155 イベント詳細ページに主催者を表示
  app/Http/Controllers/EventController.php
  resources/views/event/details.blade.php
Labels: 👀needs_review, 🛠️fix

#160 管理用の画面を作成
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/EventController.php
  app/Http/Kernel.php
  app/Http/Middleware/AdminMiddleware.php
  lang/ja.json
  resources/views/auth/admin/dashboard.blade.php
  resources/views/layouts/navigation.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#162 テストを編集
  database/factories/UserFactory.php
  phpunit.xml
  tests/Feature/Auth/AuthenticationTest.php
  tests/Feature/Auth/EmailVerificationTest.php
  tests/Feature/Auth/PasswordConfirmationTest.php
  tests/Feature/Auth/PasswordResetTest.php
  tests/Feature/Auth/PasswordUpdateTest.php
  tests/Feature/Auth/RegistrationTest.php
  tests/Feature/ExampleTest.php
  tests/Feature/ProfileTest.php
  tests/TestCase.php
  tests/Unit/ExampleTest.php
Labels: 👀needs_review, 🛠️fix

#165 スペルミスを修正しました
  .github/workflows/auto_labeling_pull_request.yml
Labels: 👀needs_review, 🕷️bug

#166 routeを修正した
  app/Http/Controllers/EventController.php
  app/Providers/RouteServiceProvider.php
  resources/views/event/create.blade.php
  resources/views/event/detail.blade.php
  resources/views/event/list-all.blade.php
  resources/views/event/list-upcoming.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: 👀needs_review, ♻refactor

#170 操作ログを記録
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/EventController.php
  app/Http/Controllers/OperationLogController.php
  app/Http/Controllers/ProfileController.php
  app/Models/OperationLog.php
  database/migrations/2023_07_11_115233_create_operation_logs_table.php
  lang/ja.json
  resources/views/admin/dashboard.blade.php
  resources/views/admin/operation-logs.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#169 イベント詳細ページで使う語句を言語ファイルに集約
  lang/ja.json
  resources/views/event/detail.blade.php
Labels: 👀needs_review, 🛠️fix

#172 ,の入力もれ
  lang/ja.json
Labels: 👀needs_review, 🛠️fix

#173 言語ファイルを修正・ログの一部を修正・Docを追加
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/EventController.php
  app/Http/Controllers/OperationLogController.php
  app/Http/Controllers/ProfileController.php
  lang/ja.json
  lang/ja/validation.php
  resources/views/admin/operation-logs.blade.php
  resources/views/event/detail.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/event/partials/edit-event-form.blade.php
Labels: 👀needs_review, 🛠️fix

#175 Refactor
  app/Http/Controllers/AdminController.php
  public/script/user-edit-modal.js
  resources/views/admin/partials/user-edit-modal.blade.php
  resources/views/admin/users-list.blade.php
Labels: 👀needs_review, ♻refactor

#181 承認機能・専用ページを作成
  app/Http/Controllers/EventController.php
  app/Models/EventParticipant.php
  database/migrations/2023_07_12_125916_add_status_column_to_event_participants_table.php
  lang/ja.json
  resources/views/event/approved-users-and-organizer-only.blade.php
  resources/views/event/detail.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#183 承認機能周りを修正
  app/Http/Controllers/EventController.php
  lang/en/status.php
  lang/ja.json
  lang/ja/status.php
  resources/views/event/detail.blade.php
Labels: 👀needs_review, 🛠️fix

#185 Feature/mail
  app/Http/Controllers/EventController.php
  app/Mail/MailSend.php
  app/Models/Event.php
  resources/views/emails/change-status.blade.php
  resources/views/emails/join-request.blade.php
  resources/views/emails/mail_send.blade.php
Labels: 🌟feature, 👀needs_review

#190 多言語対応
  app/Http/Kernel.php
  app/Http/Middleware/LanguageMiddleware.php
  resources/views/welcome.blade.php
  routes/web.php
Labels: 🌟feature, 👀needs_review

#193 test
  app/Http/Controllers/EventController.php
Labels: 👀needs_review, 🛠️fix

#198 faviconを設定
  .DS_Store
  public/.DS_Store
  public/favicon.ico
  public/favicon.svg
  public/img/.DS_Store
  public/img/06.png
  public/img/logo.png
  public/img/logo.svg
  resources/views/layouts/app.blade.php
  resources/views/layouts/navigation.blade.php
Labels: 👀needs_review, 🛠️fix

#202 .DS_Storeを除外
  .gitignore
Labels: 👀needs_review, ♻refactor

#203 ログイン画面を編集
  lang/ja.json
  public/css/welcome.css
  resources/views/components/application-logo.blade.php
  resources/views/welcome.blade.php
Labels: 👀needs_review, 🛠️fix

#206 イベント関係の操作時にローディング画面を追加
  public/css/event-detail.css
  public/css/main.css
  public/script/loading.js
  resources/views/event/create.blade.php
  resources/views/event/detail.blade.php
  resources/views/event/edit.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/event/partials/edit-event-form.blade.php
Labels: 👀needs_review, 🛠️fix

#208 ログアウトでエラーが発生する問題を解消
  resources/views/layouts/navigation.blade.php
Labels: 👀needs_review, 🛠️fix

#210 管理画面のデザイン修正
  lang/ja.json
  public/css/admin-table.css
  resources/views/admin/operation-logs.blade.php
  resources/views/admin/users-list.blade.php
Labels: 👀needs_review, 🛠️fix

#212 Refactor/#211
  ap
  app/Http/Controllers/Event/ApprovedUsersAndOrganizerOnlyController.php
  app/Http/Controllers/Event/CreateController.php
  app/Http/Controllers/Event/DeleteController.php
  app/Http/Controllers/Event/DetailController.php
  app/Http/Controllers/Event/EditController.php
  app/Http/Controllers/Event/ListController.php
  app/Http/Controllers/Event/StatusController.php
  app/Http/Controllers/EventController.php
  app/Http/Requests/Event/CreateRequest.php
  app/Http/Requests/Event/UpdateRequest.php
  app/Models/OperationLog.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/event/partials/edit-event-form.blade.php
  routes/web.php
Labels: 👀needs_review, ♻refactor

#214 Refactor/#211
  app/Http/Controllers/Event/CreateController.php
  app/Http/Controllers/Event/DeleteController.php
  app/Http/Controllers/Event/EditController.php
  app/Http/Controllers/Event/EventCreateController.php
  app/Http/Controllers/Event/EventDeleteController.php
  app/Http/Controllers/Event/EventDetailController.php
  app/Http/Controllers/Event/EventEditController.php
  app/Http/Controllers/Event/EventListController.php
  app/Http/Controllers/Event/EventStatusController.php
  app/Http/Controllers/Event/ListController.php
  app/UseCases/Event/EventCreateUseCase.php
  app/UseCases/Event/EventDeleteUseCase.php
  app/UseCases/Event/EventDetailUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  app/UseCases/Event/EventListUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
  resources/views/event/detail.blade.php
  resources/views/event/list-all.blade.php
  resources/views/event/list-upcoming.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/layouts/navigation.blade.php
  routes/admin.php
  routes/event.php
  routes/web.php
Labels: 👀needs_review, ♻refactor

#217 リファクタリング
  app/Http/Controllers/Admin/AdminDashboardController.php
  app/Http/Controllers/Admin/ListOperationLogsController.php
  app/Http/Controllers/Admin/ListUsersController.php
  app/Http/Controllers/Admin/UserUpdateController.php
  app/Http/Controllers/AdminController.php
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/EmailVerificationPromptController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Controllers/EventController.php
  app/Http/Controllers/OperationLog/OperationLogController.php
  app/Http/Controllers/OperationLogController.php
  app/Http/Controllers/Profile/ProfileController.php
  app/Http/Controllers/ProfileController.php
  app/Http/Requests/Admin/UserUpdateRequest.php
  app/Http/Requests/OperationLog/OperationLogStoreRequest.php
  app/Http/Requests/Profile/ProfileDeleteRequest.php
  app/Http/Requests/Profile/ProfileUpdateRequest.php
  app/UseCases/Admin/AdminDashboardUseCase.php
  app/UseCases/Admin/ListOperationLogsUseCase.php
  app/UseCases/Admin/ListUsersUseCase.php
  app/UseCases/Admin/UserUpdateUseCase.php
  app/UseCases/Event/EventCreateUseCase.php
  app/UseCases/Event/EventDeleteUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
  app/UseCases/OperationLog/OperationLogUseCase.php
  app/UseCases/Profile/ProfileUseCase.php
  routes/admin.php
  routes/event.php
  routes/profile.php
  routes/web.php
Labels: 👀needs_review, 🛠️fix

#220 リファクタリング
  app/Http/Controllers/Auth/AuthenticatedSessionController.php
  app/Http/Controllers/Auth/ConfirmablePasswordController.php
  app/Http/Controllers/Auth/EmailVerificationNotificationController.php
  app/Http/Controllers/Auth/NewPasswordController.php
  app/Http/Controllers/Auth/PasswordController.php
  app/Http/Controllers/Auth/PasswordResetLinkController.php
  app/Http/Controllers/Auth/RegisteredUserController.php
  app/Http/Controllers/Auth/VerifyEmailController.php
  app/Http/Requests/Auth/ConfirmPasswordRequest.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/UseCases/Auth/AuthSessionUseCase.php
  app/UseCases/Auth/ConfirmablePasswordUseCase.php
  app/UseCases/Auth/EmailVerificationNotificationUseCase.php
  app/UseCases/Auth/EmailVerificationUseCase.php
  app/UseCases/Auth/NewPasswordUseCase.php
  app/UseCases/Auth/PasswordResetLinkUseCase.php
  app/UseCases/Auth/PasswordUseCase.php
  app/UseCases/Auth/RegistrationUseCase.php
  app/UseCases/Profile/ProfileUseCase.php
Labels: 👀needs_review, ♻refactor

#222 メールが変更できてしまうバグを修正
  app/Http/Requests/Profile/ProfileUpdateRequest.php
  app/UseCases/Profile/ProfileUseCase.php
Labels: 👀needs_review, 🕷️bug

#224 一旦メアド欄にtextを表示しておく
  lang/ja.json
  resources/views/auth/register.blade.php
  resources/views/components/input-hint-text.blade.php
Labels: 👀needs_review, 🛠️fix

#225 名前・メアド変更機能を追加（管理者向け）
  .DS_Store
  app/Http/Requests/Admin/UserUpdateRequest.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/Http/Requests/Profile/ProfileUpdateRequest.php
  app/Mail/MailSend.php
  app/Mail/MailSendAdmin.php
  app/UseCases/Admin/UserUpdateUseCase.php
  lang/ja.json
  public/script/user-edit-modal.js
  resources/views/admin/dashboard.blade.php
  resources/views/admin/partials/user-edit-modal.blade.php
  resources/views/admin/users-list.blade.php
  resources/views/emails/email-change.blade.php
Labels: 🌟feature, 👀needs_review

#229 細かい修正
  app/Http/Controllers/OperationLog/OperationLogController.php
  app/Http/Kernel.php
  app/Http/Middleware/DisabledUserMiddleware.php
  app/UseCases/Admin/UserUpdateUseCase.php
  app/UseCases/OperationLog/OperationLogUseCase.php
  database/migrations/2023_07_20_021522_add_ip_address_to_operation_logs.php
  database/seeders/CollegesTableSeeder.php
  database/seeders/DepartmentsTableSeeder.php
  database/seeders/RolesTableSeeder.php
  lang/ja.json
  public/css/error.css
  resources/views/admin/partials/user-edit-modal.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/layouts/base.blade.php
  resources/views/errors/user_disabled_page.blade.php
  routes/admin.php
  routes/auth.php
  routes/event.php
  routes/profile.php
Labels: 👀needs_review, 🛠️fix

#232 safariでselectがうまく動かないバグを修正
  public/script/jquery-3.7.0.min.js
  public/script/user-edit-modal.js
  resources/views/auth/register.blade.php
  resources/views/layouts/app.blade.php
  resources/views/layouts/guest.blade.php
Labels: 👀needs_review, 🕷️bug

#234 Feature/#180 comment
  app/Http/Controllers/Event/EventCommunityController.php
  app/Models/Topic.php
  database/migrations/2023_07_19_133123_create_topics_table.php
  resources/views/event/community.blade.php
  resources/views/event/detail.blade.php
  resources/views/event/private.blade.php
  routes/event.php
Labels: 👀needs_review, 🛠️fix

#236 画像を追加
  public/.DS_Store
  public/img/errors/error03.jpeg
  public/img/errors/error04.jpeg
  public/img/errors/error05.jpeg
  public/img/errors/error06.jpeg
  resources/views/errors/layouts/base.blade.php
Labels: 👀needs_review, 🛠️fix

#242 プロフィールページを仮作成、login_idカラムを追加
  app/Http/Controllers/Profile/ProfileController.php
  app/Http/Requests/Admin/UserUpdateRequest.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/Models/User.php
  app/UseCases/Admin/UserUpdateUseCase.php
  app/UseCases/Auth/RegistrationUseCase.php
  app/UseCases/Profile/ProfileUseCase.php
  database/migrations/2023_07_24_113017_add_userid_to_users_table.php
  lang/ja.json
  lang/ja/validation.php
  public/script/user-edit-modal.js
  resources/views/admin/partials/user-edit-modal.blade.php
  resources/views/admin/users-list.blade.php
  resources/views/auth/register.blade.php
  resources/views/event/edit.blade.php
  resources/views/profile/partials/update-profile-information-form.blade.php
  resources/views/profile/profile_page.blade.php
  routes/profile.php
Labels: 👀needs_review, 🛠️fix

#245 request修正
  app/Http/Requests/Admin/UserUpdateRequest.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/Http/Requests/Profile/ProfileUpdateRequest.php
Labels: 👀needs_review, 🛠️fix

#247 デザインを修正
  app/Http/Controllers/Event/EventCommunityController.php
  app/Http/Requests/Event/TopicRequest.php
  app/UseCases/Event/EventDetailUseCase.php
  app/View/Components/UserIcon.php
  app/View/Components/UserInfo.php
  database/seeders/SampleEventsTableSeeder.php
  database/seeders/UsersTableSeeder.php
  lang/ja.json
  public/css/event-detail.css
  public/css/main.css
  resources/views/components/textarea.blade.php
  resources/views/components/user-icon.blade.php
  resources/views/components/user-info.blade.php
  resources/views/event/community.blade.php
  resources/views/event/detail.blade.php
Labels: 👀needs_review, 🛠️fix

#249 メンテナンスページを作成
  lang/ja.json
  resources/views/errors/403.blade.php
  resources/views/errors/404.blade.php
  resources/views/errors/405.blade.php
  resources/views/errors/429.blade.php
  resources/views/errors/503.blade.php
  resources/views/errors/layouts/base.blade.php
  routes/web.php
Labels: 👀needs_review, 🛠️fix

#251 名前とアイコン表示
  app/Http/Controllers/Event/EventCommunityController.php
  app/Models/Topic.php
  app/UseCases/Event/EventCommunityUseCase.php
  resources/views/event/community.blade.php
Labels: 👀needs_review, 🛠️fix

#256 178 feature イベントカテゴリを選択肢から選びたい
  app/Http/Controllers/Event/EventEditController.php
  app/Models/EventCategories.php
  app/UseCases/Event/EventCreateUseCase.php
  app/UseCases/Event/EventDetailUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  database/migrations/2023_07_19_000001_create_event_categories_table.php
  database/seeders/EventCategoriesSeeder.php
  resources/views/event/detail.blade.php
  resources/views/event/partials/create-event-form.blade.php
  resources/views/event/partials/edit-event-form.blade.php
Labels: 👀needs_review, 🛠️fix

#255 エイリアス
  app/Http/Requests/Auth/UserRegistrationRequest.php
Labels: 👀needs_review, 🛠️fix

#259 Fix/register
  resources/views/auth/register.blade.php
Labels: 👀needs_review, 🛠️fix

#261 ログの形式を変更
  app/Http/Controllers/OperationLog/OperationLogController.php
  app/Http/Requests/OperationLog/OperationLogStoreRequest.php
  app/UseCases/Admin/AdminDashboardUseCase.php
  app/UseCases/Admin/ListOperationLogsUseCase.php
  app/UseCases/Admin/ListUsersUseCase.php
  app/UseCases/Admin/UserUpdateUseCase.php
  app/UseCases/Auth/AuthSessionUseCase.php
  app/UseCases/Auth/ConfirmablePasswordUseCase.php
  app/UseCases/Auth/EmailVerificationNotificationUseCase.php
  app/UseCases/Auth/EmailVerificationUseCase.php
  app/UseCases/Auth/NewPasswordUseCase.php
  app/UseCases/Auth/PasswordResetLinkUseCase.php
  app/UseCases/Auth/PasswordUseCase.php
  app/UseCases/Auth/RegistrationUseCase.php
  app/UseCases/Event/EventCommunityUseCase.php
  app/UseCases/Event/EventCreateUseCase.php
  app/UseCases/Event/EventDeleteUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
  app/UseCases/OperationLog/OperationLogUseCase.php
  app/UseCases/Profile/ProfileUseCase.php
  database/migrations/2023_07_25_124908_add_target_ids_to_operation_logs_table.php
  database/migrations/2023_07_26_180807_change_detail_column_to_text_in_operation_logs_table.php
  database/migrations/2023_07_26_181556_modify_detail_column_on_operation_logs.php
  lang/ja.json
  public/css/admin-table.css
  resources/views/admin/operation-logs.blade.php
  resources/views/admin/users-list.blade.php
Labels: 🌟feature, 👀needs_review

#264 リファクタリングしました
  app/Http/Controllers/Admin/MailSendController.php
  app/Http/Requests/Admin/SendMailRequest.php
  app/Mail/MailSendAdmin.php
  app/Services/CheckEventOrganizerService.php
  app/UseCases/Admin/MailSendUseCase.php
  app/UseCases/Event/EventCommunityUseCase.php
  app/UseCases/Event/EventDeleteUseCase.php
  app/UseCases/Event/EventDetailUseCase.php
  app/UseCases/Event/EventEditUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
  lang/ja.json
  resources/views/admin/dashboard.blade.php
  resources/views/admin/mail.blade.php
  resources/views/emails/admin-send.blade.php
  resources/views/event/detail.blade.php
  resources/views/event/partials/edit-event-form.blade.php
  routes/admin.php
  routes/event.php
Labels: 👀needs_review, ♻refactor

#268 イベントの削除基準を変更した
  app/UseCases/Event/EventDeleteUseCase.php
  app/UseCases/Event/EventStatusUseCase.php
Labels: 👀needs_review, 🛠️fix

#270 カウント方法を変更
  app/UseCases/Event/EventStatusUseCase.php
  resources/views/event/detail.blade.php
Labels: 👀needs_review, 🛠️fix

#271 fix
  app/Http/Controllers/Event/EventDeleteController.php
  app/UseCases/Event/EventDeleteUseCase.php
Labels: 👀needs_review, 🕷️bug

#272 イベントを消せないバグを修正
  app/UseCases/Event/EventDeleteUseCase.php
Labels: 👀needs_review, 🕷️bug

#274 リストの間隔を開けた
  public/css/list.css
Labels: 👀needs_review, 🛠️fix

#277 プロフィールアイコンの編集
  app/UseCases/Profile/ProfileUseCase.php
Labels: 👀needs_review, 🛠️fix

#278 fix: 画像サイズを再度固定
  public/css/list.css
Labels: 👀needs_review, 🛠️fix

#281 各所にお問い合わせフォームへのリンクを追加
  lang/ja.json
  public/.DS_Store
  resources/views/errors/layouts/base.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
Labels: 👀needs_review, 🛠️fix

#283 Upcomingをhomeと統合した
  app/Http/Controllers/Event/EventDeleteController.php
  app/Http/Controllers/Event/EventListController.php
  app/Providers/RouteServiceProvider.php
  app/UseCases/Event/EventListUseCase.php
  lang/ja.json
  public/css/list.css
  public/css/main.css
  public/script/event-carousel.js
  resources/views/errors/layouts/base.blade.php
  resources/views/event/list-all.blade.php
  resources/views/event/list-home.blade.php
  resources/views/event/list-join.blade.php
  resources/views/event/list-organizer.blade.php
  resources/views/event/list-upcoming.blade.php
  resources/views/event/partials/list.blade.php
  resources/views/layouts/navigation.blade.php
  resources/views/welcome.blade.php
  routes/event.php
Labels: 🎨accessibility, 👀needs_review, 🛠️fix

#285 カルーセルを調整
  public/css/list.css
  public/script/event-carousel.js
Labels: 👀needs_review, 🛠️fix

#287 修正
  public/script/event-carousel.js
Labels: 👀needs_review, 🕷️bug

#289 Feature/mention
  app/Mail/MailSendCommunity.php
  app/UseCases/Event/EventCommunityUseCase.php
  resources/views/emails/event-mention.blade.php
  resources/views/event/community.blade.php
Labels: 🌟feature, 👀needs_review

#291 @allを実装
  app/Http/Controllers/Event/EventCommunityController.php
  app/Http/Requests/Admin/UserUpdateRequest.php
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/UseCases/Event/EventCommunityUseCase.php
  public/css/event-community.css
  public/script/community-dropdown.js
  resources/views/event/community.blade.php
Labels: 👀needs_review, 🛠️fix

#294 イベント周りを変更
  app/UseCases/Event/EventCommunityUseCase.php
  public/css/event-community.css
  public/css/event-detail.css
  resources/views/event/community.blade.php
Labels: 👀needs_review, 🛠️fix

#296 修正
  app/UseCases/Event/EventCommunityUseCase.php
  resources/views/event/community.blade.php
Labels: 👀needs_review, 🕷️bug

#297 Fix
  public/css/list.css
  resources/views/event/partials/list.blade.php
Labels: 👀needs_review, 🛠️fix

#299 Fix
  app/Http/Requests/Auth/UserRegistrationRequest.php
  app/UseCases/Event/EventCommunityUseCase.php
  lang/en/pagination.php
  lang/en/validation.php
  lang/ja.json
  lang/ja/pagination.php
  lang/ja/validation.php
  public/css/main.css
  resources/views/admin/operation-logs.blade.php
  resources/views/admin/users-list.blade.php
  resources/views/auth/register.blade.php
  resources/views/components/footer.blade.php
  resources/views/event/community.blade.php
  resources/views/layouts/app.blade.php
  resources/views/vendor/pagination/bootstrap-4.blade.php
  resources/views/vendor/pagination/bootstrap-5.blade.php
  resources/views/vendor/pagination/default.blade.php
  resources/views/vendor/pagination/semantic-ui.blade.php
  resources/views/vendor/pagination/simple-bootstrap-4.blade.php
  resources/views/vendor/pagination/simple-bootstrap-5.blade.php
  resources/views/vendor/pagination/simple-default.blade.php
  resources/views/vendor/pagination/simple-tailwind.blade.php
  resources/views/vendor/pagination/tailwind.blade.php
  resources/views/vendor/pagination/tailwind02.blade.php
  resources/views/welcome.blade.php
Labels: 👀needs_review, 🛠️fix
